/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.phoneContainer{
    width: 23em;
    height: 43em;
    border-radius: 3em;
    margin-left:39%;
    background: #111;
    position: relative;
    border:3px solid #333;
    margin-top:3em;
    .phoneCamera{
        position: absolute;
        width: 0.6em;
        height: 0.6em;
        background: #333;
        border-radius: 5em;
        top: 2em;
        left: 11em;
        z-index: 9;
        box-shadow: 1px 1px 0px #000;
    }
    .phoneLockBtn{
        position: absolute;
        right: 3em;
        top: -0.5em;
        width: 3em;
        height: 0.3em;
        background: #222;
        border-radius: 0.3em 0.3em 0 0;
    }
    .phoneAsideButtons{
        width: 0.3em;
        height: 10em;
        position: absolute;
        left: -0.5em;
        top: 7em;
        .phoneAsideMuteBtn{
            position: absolute;
            top: 1em;
            width: 100%;
            height: 1.9em;
            background: #222;
            border-radius: 0.3em 0 0 0.3em;
        }
        .phoneAsideVolUpBtn{
            position: absolute;
            top: 5em;
            width: 100%;
            height: 1.6em;
            background: #222;
            border-radius: 0.3em 0 0 0.3em;
        }
        .phoneAsideVolDownBtn{
            position: absolute;
            top: 8em;
            width: 100%;
            height: 1.6em;
            background: #222;
            border-radius: 0.3em 0 0 0.3em;
        }
    }
    .phoneSpeaker{
        position: absolute;
        top: 3.3em;
        left: 9.2em;
        border-top: 6px solid #333;
        border-radius: 10px;
        width: 20%;
        z-index: 9;
        box-shadow: 1px 1px 0px #000;
    }
    .phoneDisplay{
        width: 91%;
        height: 70%;
        background: #222;
        top: 7em;
        border-radius: 2px;
        left: 1em;
        position: absolute;
        padding: 0.4em;
        .phoneDropArea{
            width: 100%;
            height: 100%;
            // background: green;
            position: relative;
            &:hover{
                cursor:pointer;
            }
            .phoneDropLeftTop{
                width: 40%;
                height: 40%;
                top: 0;
                left: 0;
                border-top:2px solid #2897E1;
                border-left:2px solid #2897E1;
                // background: red;
            }
            .phoneDropLeftBottom{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 40%;
                height: 40%;
                border-left:2px solid #2897E1;
                border-bottom:2px solid #2897E1;
                // background: blue;
            }
            .phoneDropRightTop{
                position: absolute;
                top: 0;
                right: 0;
                width: 40%;
                height: 40%;
                border-top:2px solid #2897E1;
                border-right:2px solid #2897E1;
                // background: yellow;
            }
            .phoneDropRightBottom{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 40%;
                height: 40%;
                border-right:2px solid #2897E1;
                border-bottom:2px solid #2897E1;
                // background: gray;
            }
        }
    }
    .phoneDisplayShadow{
        width: 0;
        position: absolute;
        right: 0;
        position: a;
        height: 0;
        border-style: solid;
        border-width: 0 200px 460px 0;
        opacity: 0.3;
        border-color: transparent #fff transparent transparent;
    }
    .phoneButton{
        width: 3.5em;
        height: 3.5em;
        position: absolute;
        bottom: 1em;
        left: 10em;
        background: #151515;
        box-shadow: inset 0 0 1px #000;
        border-radius: 100%;
        .phoneButtonShadow{
            width: 3.5em;
            height: 2em;
            border-radius: 100%;
            border-width: 0;
            border-bottom:solid 1.4em #fff;
            opacity: 0.3;
        }
        .phoneButtonSquare{
            width: 40%;
            height: 40%;
            border: 1px solid #333;
            border-radius: 0.3em;
            position: absolute;
            top: 1em;
            left: 1em;
        }
    }
    .shadow {
        width: 325px;
        position: absolute;
        bottom: -1px;
        background: #eee;
        z-index: -1;
        box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 0 35px 8px rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }
}