/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../home/dn-121/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/dn-121/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/dn-121/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/dn-121/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/dn-121/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/dn-121/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/dn-121/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/dn-121/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/dn-121/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.phoneContainer {
  width: 23em;
  height: 43em;
  border-radius: 3em;
  margin-left: 39%;
  background: #111;
  position: relative;
  border: 3px solid #333;
  margin-top: 3em;
}
/* line 17, ../sass/screen.scss */
.phoneContainer .phoneCamera {
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  background: #333;
  border-radius: 5em;
  top: 2em;
  left: 11em;
  z-index: 9;
  box-shadow: 1px 1px 0px #000;
}
/* line 28, ../sass/screen.scss */
.phoneContainer .phoneLockBtn {
  position: absolute;
  right: 3em;
  top: -0.5em;
  width: 3em;
  height: 0.3em;
  background: #222;
  border-radius: 0.3em 0.3em 0 0;
}
/* line 37, ../sass/screen.scss */
.phoneContainer .phoneAsideButtons {
  width: 0.3em;
  height: 10em;
  position: absolute;
  left: -0.5em;
  top: 7em;
}
/* line 43, ../sass/screen.scss */
.phoneContainer .phoneAsideButtons .phoneAsideMuteBtn {
  position: absolute;
  top: 1em;
  width: 100%;
  height: 1.9em;
  background: #222;
  border-radius: 0.3em 0 0 0.3em;
}
/* line 51, ../sass/screen.scss */
.phoneContainer .phoneAsideButtons .phoneAsideVolUpBtn {
  position: absolute;
  top: 5em;
  width: 100%;
  height: 1.6em;
  background: #222;
  border-radius: 0.3em 0 0 0.3em;
}
/* line 59, ../sass/screen.scss */
.phoneContainer .phoneAsideButtons .phoneAsideVolDownBtn {
  position: absolute;
  top: 8em;
  width: 100%;
  height: 1.6em;
  background: #222;
  border-radius: 0.3em 0 0 0.3em;
}
/* line 68, ../sass/screen.scss */
.phoneContainer .phoneSpeaker {
  position: absolute;
  top: 3.3em;
  left: 9.2em;
  border-top: 6px solid #333;
  border-radius: 10px;
  width: 20%;
  z-index: 9;
  box-shadow: 1px 1px 0px #000;
}
/* line 78, ../sass/screen.scss */
.phoneContainer .phoneDisplay {
  width: 91%;
  height: 70%;
  background: #222;
  top: 7em;
  border-radius: 2px;
  left: 1em;
  position: absolute;
  padding: 0.4em;
}
/* line 87, ../sass/screen.scss */
.phoneContainer .phoneDisplay .phoneDropArea {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 92, ../sass/screen.scss */
.phoneContainer .phoneDisplay .phoneDropArea:hover {
  cursor: pointer;
}
/* line 95, ../sass/screen.scss */
.phoneContainer .phoneDisplay .phoneDropArea .phoneDropLeftTop {
  width: 40%;
  height: 40%;
  top: 0;
  left: 0;
  border-top: 2px solid #2897E1;
  border-left: 2px solid #2897E1;
}
/* line 104, ../sass/screen.scss */
.phoneContainer .phoneDisplay .phoneDropArea .phoneDropLeftBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 40%;
  border-left: 2px solid #2897E1;
  border-bottom: 2px solid #2897E1;
}
/* line 114, ../sass/screen.scss */
.phoneContainer .phoneDisplay .phoneDropArea .phoneDropRightTop {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 40%;
  border-top: 2px solid #2897E1;
  border-right: 2px solid #2897E1;
}
/* line 124, ../sass/screen.scss */
.phoneContainer .phoneDisplay .phoneDropArea .phoneDropRightBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 40%;
  border-right: 2px solid #2897E1;
  border-bottom: 2px solid #2897E1;
}
/* line 136, ../sass/screen.scss */
.phoneContainer .phoneDisplayShadow {
  width: 0;
  position: absolute;
  right: 0;
  position: a;
  height: 0;
  border-style: solid;
  border-width: 0 200px 460px 0;
  opacity: 0.3;
  border-color: transparent #fff transparent transparent;
}
/* line 147, ../sass/screen.scss */
.phoneContainer .phoneButton {
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  bottom: 1em;
  left: 10em;
  background: #151515;
  box-shadow: inset 0 0 1px #000;
  border-radius: 100%;
}
/* line 156, ../sass/screen.scss */
.phoneContainer .phoneButton .phoneButtonShadow {
  width: 3.5em;
  height: 2em;
  border-radius: 100%;
  border-width: 0;
  border-bottom: solid 1.4em #fff;
  opacity: 0.3;
}
/* line 164, ../sass/screen.scss */
.phoneContainer .phoneButton .phoneButtonSquare {
  width: 40%;
  height: 40%;
  border: 1px solid #333;
  border-radius: 0.3em;
  position: absolute;
  top: 1em;
  left: 1em;
}
/* line 174, ../sass/screen.scss */
.phoneContainer .shadow {
  width: 325px;
  position: absolute;
  bottom: -1px;
  background: #eee;
  z-index: -1;
  box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 35px 8px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
